.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
}

.timer-circle {
    width: 200px; /* Taille du cercle */
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#4e4e4e 25%, #ededed 25%); /* Gradient pour montrer la progression */
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-label {
    font-size: 3rem; /* Taille du texte plus grande */
    color: #fff; /* Texte blanc pour contraste */
}

/* Stylisation des boutons */
button {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px; /* Boutons arrondis */
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Texte en blanc */
    cursor: pointer;
    transition: background-color 0.3s; /* Transition douce au survol */
}

button:hover {
    background-color: #45a049; /* Couleur au survol */
}
