body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

#timer {
    font-size: 5rem; /* ajustez la taille de police comme nécessaire */
    color: #242525;
}

.buttons-container {
    display: flex;
    gap: 1rem; /* ajustez l'espace entre les boutons comme nécessaire */
}

button {
    padding: 0.5rem 1rem; /* ajustez le padding comme nécessaire */
    font-size: 1rem; /* ajustez la taille de police des boutons comme nécessaire */
    border: none;
    border-radius: 0.5rem; /* arrondit les coins des boutons */
    background-color: #242525;
    color: white;
    cursor: pointer;
}


/* Media queries pour les tailles d'écran spécifiques */
@media (max-width: 600px) {
    #timer {
        font-size: 10vw; /* Taille de police plus grande pour les petits écrans */
    }

    button {
        font-size: 3vw; /* Taille de police plus grande pour les boutons sur petits écrans */
        padding: 2vw 4vw;
    }
}

